html {
    background-image: linear-gradient(180deg, #F2CD5C, #F2921D);
    background-attachment: fixed;
}







h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5rem;
    color: #432008;
    font-weight: 999;
    font-family: 'Tilt Neon', sans serif;
    text-shadow: -3px 3px 14px BLACK;
}



div#rules {
    background-color: rgba(256, 56, 55, .21);
    font-size: 1.5rem;
    margin-top: 30px;
    box-shadow: -4px 6px 20px 0px black;
    border-radius: 15px;
    font-family: 'Tilt Neon', sans-serif;
}

p.heading {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

button {
    font-size: 2.3rem;
    margin-top: 20px;
    background: #e7cb81;
    border-radius: 9px;
    box-shadow: -4px 4px 20px 0px black;
}

div#buttons {
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#player>h2 {
    flex: none;
    width: 100%;
    margin: 0;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Tilt Neon';
    color: limegreen;
}

#computer>h2 {
    flex: none;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Tilt Neon';
    text-transform: lowercase;
    color: limegreen;
}

div#player {
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: 3px green solid;
}

div#computer {
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: green solid 3px;
}

h2#computerscore {
    text-align: center;
}

h2#playerscore {
    text-align: center;
}

#game {
    justify-content: space-around;
    margin-top: 30px;
}

img {
    margin-top: 20px;
}

#wonmessage {
    color: #0d430d;
}

#lostmessage {
    color: #5a0707;
}

button#playagainbutton {
    margin-left: 43.5%;
}

.invisible {
    display: none;
}

.pressed {
    border: yellow 4px solid;
    opacity: 50%;
}

